.search-container {
  background-color: black;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 80px;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.no-result {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #c5c5c5;
  height: 100%;
  padding: 8rem;
}